 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  section{
  height: 10vh;
  }
  section::before{ 
  content: "";
  position: fixed; 
  background-image: url(../images/backg.jpg);
  height: 745px;
  top:0px;
  left:0px;
  width: 100%;
  z-index: -1;
  opacity:0.5;
  }
  section .logo ul li{
    display: inline;
    flex-direction: column;
    list-style: none;
  }
  section .logo ul table .logo1 li a img{
   margin-left: auto;
   margin-right: auto;
   display: block;
   height: 120px;
   border: none;
   border-width: 3px;
   width: 300px;
  }
  section .logo ul table .book li a h1{
    font-size: 35px;
    padding-left: 0;
    padding: 25px;
    margin: 10px ;
    align-content: center;
    text-align: center;
    text-decoration: none;
  }
  section .logo ul table .book{
    width: 1500px;
  }
  section .logo ul table .logo1{
    width: 300px;
  }
  section .bar ul table li{
    list-style: none;
    display: inline;
    flex-direction: column;
    border-width: 1px;
    border-collapse: collapse;
  } 
  section .bar ul table li a{
    font-size: 27px;
    padding: 70px;
    margin: 36px;
    text-decoration: none;
  }
  #Login {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0px 10px; */
    min-height: 80vh;
    padding-top:150px;
    padding-left: 120px;
    /* background: #e2dee2; */
  }
  
 #Login form {
    padding: 25px;
    background: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  }
  
 #Login form h2 {
    font-size: 27px;
    text-align: center;
    margin: 0px 0 30px;
    padding-top: 0px;
  }
  
 #Login form .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  
 #Login form label {
    display: block;
    font-size: 15px;
    margin-bottom: 7px;
  }
  
#Login  form input,
  form select {
    height: 45px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    outline: none;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
  }
  
  form small {
    font-size: 14px;
    margin-top: 5px;
    display: block;
    color: #be4a4a;
  }
  
 #Login form .password i {
    position: absolute;
    right: 0px;
    height: 45px;
    top: 28px;
    font-size: 13px;
    line-height: 45px;
    width: 45px;
    cursor: pointer;
    color: #939393;
    text-align: center;
  }
  
 #Login .submit-btn {
    margin-top: 30px;
  }
  
 #Login .submit-btn input {
    color: white;
    border: none;
    height: auto;
    font-size: 16px;
    /* padding: 16px 0; */
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background: #756fa9;
    transition: 0.2s ease;
  }
  
 #Login .submit-btn input:hover {
    background: #5e6160;
  }
  #Login .reset-btn input{
    color: white;
    border: none;
    height: auto;
    font-size: 16px;
    /* padding: 16px 0; */
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background: #756fa9;
    transition: 0.2s ease;
  }
  #Login .reset-btn input:hover {
    background: #5e6160;
  }
