*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section{
height: 100vh;
width: fit-content;
}
section::before{ 
content: "";
position: fixed;
background-image: url(../images/backg.jpg);
height: 745px;
top:0px;
left:0px;
width: 100%;
z-index: -1;
opacity:0.5;
}
#description{
padding-left: 160px;
padding-right: 50px;
}
#description h2{
padding: 10px 5px;
text-align: center;
}
#description p{
color: rgb(4, 1, 1);
text-align: center;
font-size: 17px;
padding-top: 13px;
margin: auto;
font-family: 'Poppins', sans-serif;
} 
section .logo ul li{
display: inline;
flex-direction: column;
list-style: none;
}
section .logo ul table .logo1 li a img{
margin-left: auto;
margin-right: auto;
display: block;
height: 120px;
width:300px;
border: none;
border-width: 3px;
}
section .logo ul table .book li a h1{
font-size: 35px;
padding-left: 0;
padding: 25px;
margin: 10px ;
align-content: center;
text-align: center;
text-decoration: none;
}
section .logo ul table .book{
    width: 1500px;
}
section .logo ul table .logo1{
    width: 300px;
}
section .bar ul table li{
    list-style: none;
    display: inline;
    flex-direction: column;
    border-width: 1px;
    border-collapse: collapse;
} 
section .bar ul table li a{
    font-size: 27px;
    padding: 70px;
    margin: 36px;
    text-decoration: none;
}

